
body(style={background: 'red', 'padding': '10px'})
    div.container(style={background: 'white', 'padding': '10px'})
        h1(style={"text-align": 'center'}) Gift Exchange
        
        p Hi there #{recipientFromName}! 

        p You were invited to a Gift Exchange at #{date} named #{name}. The limit of the gift is #{price}#{currency}, and you are to give a gift to #{recipientToName}.
            
        p Best regards and happy gift Exchange!!!
